 // screen
 $browser-context: 16;
 $screen-width: 1920;
 $screen-height: 980;
 
 //colors
 $main-color: #1B4F93;
 $additional-color: #ED1C24;
 $main-light-color: #3390D5;
 $light-color: #FFFFFF;
 $gray-color: #B3B3B3;
 $gray-light-color: #fafafa;
 $text-color: #000000;
 
 //fonts
@import url("https://use.typekit.net/oks2llw.css");
$normal-font: 'Source Sans Pro', sans-serif;
 